.end-root-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: aquamarine;
  height: 70vh;
}

.leaderboard {
  display: flex;
  height: 60%;
  width: 60%;
  border-style: inset;
}
