#find-popup-root {
  width: 420px;
  height: 420px;
  background-color: rgba(97, 152, 230, 0.875);
  position: fixed;
  border-radius: 50%;
}

#target-circle {
  position: fixed;
  width: 150px;
  height: 150px;
  background-color: rgba(244, 239, 239, 0.122);
  position: fixed;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 4px;
}

.to-find,
.found-true {
  position: absolute;
  width: 120px;
  height: 120px;
  border-style: dashed;
  border-width: 3px;
  border-radius: 50%;
}

.to-find:hover {
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.833);
  scale: 1.2;
}

.found-true {
  opacity: 0.5;
  background-color: gray;
}
