.game-root-div {
  width: fit-content;
  position: relative;
}

#game-image {
  image-rendering: pixelated;
  width: 3000px;
  padding: 100px;
}

/* stamp effect modifed from: https://codepen.io/555/pen/pdwvBP */
.stamp {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.1rem 0.5rem;
  text-transform: uppercase;
  font-family: "Courier";
  -webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  -webkit-mask-size: 944px 604px;
  mask-size: 944px 604px;
}

.target-stamp-approved {
  background-color: #0a0a0aa8;
  box-shadow: 0 0 10px 10px rgb(244, 12, 236);
  color: #27d173;
  border: 0.3rem solid #37c786;
  -webkit-mask-position: 13rem 6rem;
  mask-position: 11rem 5rem;
  border-radius: 0;
  pointer-events: none;
}

.target-stamp-container {
  position: absolute;
  box-shadow: 0 0 18px 3px rgb(0, 0, 0);
  transform: rotate(-18deg);
}
