.game-panel-root {
  position: fixed;
  background-color: rgb(70, 67, 67);
  color: white;
  width: 100%;
  height: 90px;
}

.game-panel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 25px;
}

.game-panel-item-false,
.game-panel-item-true {
  border-style: solid;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-panel-item-true {
  background-color: rgb(0, 0, 0);
  border-color: rgba(255, 255, 255, 0.478);
  animation: pulse-green 2s;
}

/*based on: https://www.florin-pop.com/blog/2019/03/css-pulse-effect/*/
@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(26, 246, 22);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

.game-panel-item-false:hover,
.game-panel-item-true:hover {
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.833);
  scale: 1.8;
  position: relative;
  top: 20px;
  image-rendering: pixelated;
}

.game-panel-item-false > img,
.game-panel-item-true > img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.game-panel-item-true > img {
  opacity: 0.5;
}

.shake {
  --shakeDist: 0.3em;
  animation: shake 0.5s;
}

/*based on: https://codepen.io/suda1991/pen/xmKrNX*/
@keyframes shake {
  0% {
    transform: translate(0);
    border-color: red;
  }
  10% {
    transform: translate(var(--shakeDist));
    border-color: red;
  }
  20% {
    transform: translate(-(var(--shakeDist)));
    border-color: red;
  }
  30% {
    transform: translate(var(--shakeDist));
  }
  40% {
    transform: translate(-(var(--shakeDist)));
  }
  50% {
    transform: translate(var(--shakeDist));
  }
  60% {
    transform: translate(-(var(--shakeDist)));
  }
  70% {
    transform: translate(var(--shakeDist));
  }
  80% {
    transform: translate(-(var(--shakeDist)));
  }
  90% {
    transform: translate(var(--shakeDist));
  }
  100% {
    transform: translate(0);
  }
}

.game-panel-container > a,
:visited {
  color: rgb(189, 166, 166);
}

.game-panel-image-name {
  background-color: rgba(0, 0, 0, 0.604);
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.557);
  width: fit-content;
  position: absolute;
  bottom: -35px;
  visibility: hidden;
}

.game-panel-item-false:hover > img + .game-panel-image-name,
.game-panel-item-true:hover > img + .game-panel-image-name {
  visibility: visible;
}

.game-panel-root > div > p {
  margin: 20px 0 5px 0;
}
#submit-score-name-error {
  color: rgba(234, 255, 0, 0.665);
  padding: 0px;
  margin: 0px;
  visibility: hidden;
}

/* For Mobile */
@media screen and (max-width: 900px) {
  .game-panel-root {
    position: fixed;
    font-size: 16px;
    height: 60px;
  }

  .game-panel-item-false,
  .game-panel-item-true {
    width: 30px;
    height: 30px;
  }

  .game-panel-item-false:hover,
  .game-panel-item-true:hover,
  .game-panel-item-false:active,
  .game-panel-item-true:active {
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.833);
    scale: 3;
    position: relative;
    top: 20px;
    image-rendering: pixelated;
  }
}
