.game-panel-root {
  position: fixed;
  background-color: rgb(106, 187, 245);
  width: 100%;
  height: 60px;
}

.game-panel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
