body {
  background-color: #615e5e;
  font-size: 20px;
}

.App {
  text-align: center;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.app-game-panel {
  height: 12vh;
}
