body {
  background-color: rgba(70, 67, 67, 0.615);
}

.App {
  text-align: center;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.app-game-panel {
  height: 160px;
}
